<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810533353615-6qmm8926upjdivmsehi5dreuisgs1q57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810533353615-6qmm8926upjdivmsehi5dreuisgs1q57</string>
	<key>API_KEY</key>
	<string>AIzaSyBcBEso6l7DeCxQCGB7cQS3izp1FNvwpnY</string>
	<key>GCM_SENDER_ID</key>
	<string>810533353615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groupchatapp</string>
	<key>PROJECT_ID</key>
	<string>groupchatapp-40d0e</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchatapp-40d0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810533353615:ios:c13b492b9e062f251858fa</string>
</dict>
</plist>